                /*header*/
html{
    scroll-behavior: smooth;
}

body{
    margin:0;
}


nav{
    
    display:flex;
    justify-content: space-between;
    position:static;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
    box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
}

a.logo{
    display: flex;
    justify-content: center;
    height: 80%;
    width: 85%;

    
}
.logo{

    height: 90%;
    width: 30%;
}

ul.reseaux{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 50%;
    justify-content: flex-start;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}



ul.navbar{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    gap:40px; 
    justify-content: space-around;
}


.icon{
    
    width: 20px;
    height: 20px;
}
ul{
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
   font-optical-sizing: auto;
  }

a:hover {
    animation: glitch2 0.2s ease-in-out;
    animation-name: glitch;
}
  
@keyframes glitch {
    0%{text-shadow:2px 2px black,-2px -2px rgb(255, 215, 15);}
  
   25%{text-shadow:-2px -2px black,2px 2px rgb(1, 255, 18);}
  
   75%{text-shadow:2px 2px black,-2px -2px rgb(0, 255, 174);}
  
   100%{text-shadow:-2px -2px black,2px 2px rgb(0, 195, 255);}
  }

section.head{
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgb(167, 167, 167);
    transition: all 1s ease-in-out;
}

.head:hover{
    background-color: black;
}

.img-tittle{
   width: 30%;
   height: 60%;
   border-radius: 16px;
   -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   transition: all 3s ease-in-out;
   animation-name:ghost;
   animation: ghost 3s alternate ;
}

@keyframes ghost {
    from{opacity: 0;}
    to{opacity:1;}  
}



h1{
    color: aliceblue;
    transition: all 1s ease-in-out;
    font-family:Arial, Helvetica, sans-serif;
   font-optical-sizing: auto;
}

h1:hover{
    color: rgb(157, 157, 157);
}

.big-tittle{
    display: flex;
    justify-content: center;
    align-items: center;

}

.tittle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 20%;
}


.tittle-lien{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    


}

.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
    padding: 8px 16px;
    width: fit-content;
    font-weight: 500;
    transition: all .3s ease-in-out;
 }

 .bouton.primaire{
    background: #000000;
    color: white;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
 }
 
.bouton.primaire:hover{
    background-color: #b9b9b9;
 }


.bouton.prmaire-contact{
    background: #b1b1b1;
    color: white;
}
.bouton.primaire-contact:hover{

  background-color: #b0ae8e;

}


    
h2,h3,p,a {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    
    
  }
  

h1{
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: xx-large;
}


                /*main*/


                /*section 1*/


section{
    display: flex;
    width: 100%;
    height: 60%; 
}




.work{
    display: flex;
    flex-direction:row;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 80%;
    margin: 2%;
    border-radius: 16px;
    border: 2px solid black;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
   transition: all 1s ease-in-out;

}

.work:hover{
    transform: translate(-10px, -20px);
 }



.right{
    display: flex;
    flex-direction:row-reverse;
    transition: all 1s ease-in-out;
}


.work-img{
   width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24); 
   box-shadow: 0px 0px 11px 4px rgba(0,0,0,0.24);
   border-radius: 14px;
}


.left-img{
    display: flex;
    justify-content: flex-end;
    width: 70%;
  
}


.text{
    display: flex;
    width: 90%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    font-size: x-small;
    gap: 16px;
}

.all-work{
    display: flex;
    width: 70%;
    height: 50%;
    margin: 2%;
    align-items: center;
    flex-direction: column;
    gap:30px;
    transition: all 1s ease-out;


}

.work-contenaire{
    display: flex;
    width: 100%;
    height: 60%;
    background-color: #000000;
    transition: all 1s ease-in-out;
}

.work-contenaire:hover{
    background-color: aliceblue;
}

.stl{

    margin: 0;
    text-align: center;
    color: black;

}

h3{
    text-align: center;
    color: rgb(45, 255, 255);
    margin-left:2% ;
}


                /*section 2*/
#profil{
    display: flex;
    width: 100%;
    height:70% ;
    background-image: url(assets/images/img3.jpg);
}

#presentation{
    width: 45%;
    padding: 4%;
    color: azure;
}



                    /*section 3*/


#contact{
    display: flex;
    width: 100%;
    height: 70%;
    background-color: rgb(65, 120, 120);
    transition: all 1s ease-in-out;
}
#contact:hover{
    background-color: rgb(10, 174, 174);
}


.all-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.l{
margin: 2%;
}


.input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



                /*footer*/


 footer{
    display: flex;
    justify-content: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    background-color: black;
    color: azure;
}


input{
    border: 2px solid black;
    border-radius: 8px;
    background-color: #49fff0;
}

textarea{
    border: 2px solid black;
    border-radius: 8px;
    background-color:  #49fff0;

}